<html>
  <body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px">
      <div style="margin: 0 auto; width: 90%; text-align: center">
        <h1
          style="
            background-color: rgba(79, 196, 190, 1);
            padding: 5px 10px;
            border-radius: 5px;
            color: rgba(12, 50, 52, 1);
          "
        >
          {{ title }}
        </h1>
        <div
          style="
            margin: 30px auto;
            background: white;
            width: 40%;
            border-radius: 10px;
            padding: 50px;
            text-align: center;
          "
        >
          <h3 style="margin-bottom: 100px; font-size: 24px">Hej {{ name }}!</h3>
          <p>En summering endast andelar just nu..</p>
          {% for share in shares %}
          <p style="margin-bottom: 30px">Andels id: {{ share.id }}</p>
          {% endfor %}
          <a
            style="
              display: block;
              margin: 0 auto;
              border: none;
              background-color: rgba(79, 196, 190, 1);
              color: rgba(12, 50, 52, 1);
              width: 200px;
              line-height: 24px;
              padding: 5px;
              font-size: 16px;
              border-radius: 10px;
              cursor: pointer;
              text-decoration: none;
            "
            href="https://solarpark.se/"
            target="_blank"
          >
            Solarpark hemsidan
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
